@import "_variables.scss";
@import "_mixins.scss";

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

img{
    max-width: 100%;
}

.container{
    max-width: $max_main_width;
    margin: 0 auto;

}

    
header{
    >nav{ /* ancho body y ul clase container = en footer*/
        background-color: black;
        color: white;
    
        ul{
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax($min_menu_width, 1fr)); 

            li{
                @include hover_nav($green_color, black);
                text-transform: uppercase;
                text-align: center;
                /*Para que salga el puntero en el a, hay que heredar el grid del abuelo*/
                display:grid;

                a{
                    color: white;
                    text-decoration: none;
                    padding: 5%;


                }
            }
        }
    }

   #platillo{
    max-width: 100%;
   }
}



main{
    display: grid;
    grid-template-columns: 1;
    gap: 10px;
    align-items: center;
    justify-items: center;

    @include screen_desktop{
        display: grid;
        grid-template-columns: minmax(10px, max-content) auto minmax(100px, max-content);
            /*PRIMERA COLUMNA: no se agranda más que el tamaño de la imagen para no deformarla*/
        grid-template-rows: repeat(4, auto);
    }

    h2{
        @include screen_desktop{
            grid-row: 1 / 2;
            grid-column: 1 / 4;
        }

    }

    .recipeData{
        background-color: $green_color;
        display: grid;
       // grid-template-columns: 1fr;
        // grid-template-rows: 3;   
        
        justify-self: normal;

        
        
        
        @include screen_desktop{
            grid-column: 1 / 2;
            grid-row: 2 / 3;
            align-self: normal;
           
          
        }
        
        ul{
            display: grid;
            list-style-type: none;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax($min_menu_width, 1fr)); 
            //align-items: normal;

           
            li{
                grid-column: 1 / 2;
                grid-row: span 1;
                color: white;
                text-align: center;
                padding: 2%;
               
            }

        }
    }
   
    .img1{ /*imagen a la izquierda*/

        @include screen_desktop{
            grid-column: 3 / 4;
            grid-row: 3 / 4;
            
            
        }
    }

    .img2{ /*imagen a la derecha*/
        @include screen_desktop{
            grid-column: 1 / 2;
            grid-row: 4 / 5;
           
        }
    }

    h2{
        text-align: center;
        font-size: 25pt;
    }


    .texto{
        @include screen_desktop{
            grid-column: 2 / 3;
            grid-row: 2 / 5;
        }


        .quote{
        font-style: italic;
        font-size: larger;
        text-align: center;
        padding: 2% 0;
        }
    }
   

    p{
        text-align: justify;
        line-height: 1.2;
    }



}

footer{
    background-color: $green_color;
    margin-top: 2%;

    nav{
        grid-template-columns: repeat(auto-fit, minmax($min_menu_width, 1fr)); 
        display: grid;

        .footerList{
            list-style-type: none;
            grid-column: span 1;
            text-align: center;
            padding-bottom: 1em;

            :nth-child(1){
                font-weight: bold;
                padding: 10% 0 5% 0;
                text-transform: capitalize;
            }

            li{
                text-transform: uppercase;
                line-height: 1.5;
                
            } 
        }
    }

    p{
        background-color: black;
        color: white;
        text-align: center;
        padding: 1%;
    }
}

